* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2e7d32;
  margin: 0;
  padding: 2rem;
}

/* Container */
#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 175px;
  height: 250px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-2,
.card-4 {
  color: red;
}

.card-top {
  align-self: flex-start;
}

.card-top,
.card-bottom {
  font-size: 1.25rem;
}

.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  font-size: 3rem;
  /* gap: 0.1rem; */
}

.center-bottom {
  transform: rotate(180deg);
}

.card-bottom {
  align-self: flex-end;
  transform: rotate(180deg);
}
