* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #388e3c, #1b5e20);
  margin: 0;
  padding: 2rem;
}

/* Container */
#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 170px;
  height: 250px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spades,
.clubs {
  color: black;
}

.diamonds,
.hearths {
  color: red;
}

.card-top {
  align-self: flex-start;
}

.card-top,
.card-bottom {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  font-size: 3rem;
  gap: 0.2rem;
}

.center-bottom {
  transform: rotate(180deg);
}

.card-bottom {
  align-self: flex-end;
  transform: rotate(180deg);
}

/* Hover interation */
.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
